* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F7FA
  ;
  
}

.header {
  overflow: hidden;
  background: #285FBA;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  padding-bottom: 5px !important;
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 50px;
}

.header a:hover {
  background-color: #70A0F0;
  color: White;
}

.header a.active {
  background-color: #70A0F0;
  color: white;
  padding: 12px;
}

.header-right {
  float: right;
}
footer {
    overflow: hidden;
  background: #285FBA;
  padding: 20px 10px;
  margin-top: 500px;
}   
footer div  {
    float: left;
    color: white;
    text-align: center;
    padding-right: 280px;
    
    /* margin-right: 30px; */
    text-decoration: none;
    font-size: 15px; 
    line-height: 25px;
    /* border-radius: 4px; */
  }
  .footer1{
      margin-left: 100px;
      /* padding-right: 25px !important; */
  }
  
  .footer2{
    margin-left: 20px;
    /* padding-right: 25px !important; */
}
.footer2 a {
  text-decoration: none;
  margin-left: -50px;
  color:  white;
}
.footer3{
  margin-left: 10px;
  /* padding-right: 25px !important; */
}
.footer3 img {
  padding-right: 5px;
}
.center h1 {
  font-size: 80px;
}
table {
  margin-left: 400px;
  margin-bottom: -200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 7px;
} 



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
form {
  margin-left: 550px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#title {
 
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #285FBA;

}
#content {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #285FBA;

}
#Headtitle{
  margin-left: 200px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #285FBA;
}

#table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
  margin-top: 200px;
  margin-left: 30px;
  margin-bottom: -400px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.form{
  margin-top: 180px;
  margin-left: 1000px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.inputTitle{
  padding: 20px;
}
.inputTitle input{
  
  margin-left: 10px;
  border: 2px solid #285FBA;
}
.textareaContet{
  padding: 20px;
}
.textareaContet textarea{
  margin-left: -20px;
  border: 2px solid#285FBA;
}
#addItem {
  padding: 7px 40px 7px 40px;
  border: solid #285FBA;
  background-color: #285FBA ;
  color: white;
  border-radius: 10px;
  margin-left: 120px;
  outline: none;
  
}
#addItem:hover{
  background-color: white;
  color: #285FBA;
  
}


.edButton {
  padding: 5px 15px 5px 15px;
  border: solid #285FBA;
  background-color: #285FBA ;
  color: white;
  border-radius: 10px;
  outline: none;
  
}
.edButton:hover{
  background-color: white;
  color: #285FBA;
  
}

label {
 margin-right: 30px;
 font-size: 20px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #285FBA;
  color: white;
}
.up{
  padding: 4px 10px 4px 10px;
  margin-left: 630px;
  border-radius: 10px;
  outline: none;
  /* border: 1px solid  ; */
  /* background-color: #285FBA; */
  /* color: white; */
}
.down{
  padding: 4px 10px 4px 10px;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
  /* background-color: #285FBA; */
  /* color: white; */

}